* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  background-color: blueviolet;
}

nav ul li,
span {
  list-style: none;
  padding: 30px;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav ul a {
  text-decoration: none;
}

nav ul li:hover {
  background-color: black;
}

table thead th,
td {
  padding: 15px;
  padding-right: 60px;
}
